/* boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-body-bg: hsl(0 0% 90%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
}


html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter";
  color: black;
}

#map { 
  height: 100px; 
}

.highlight {
  background-color: yellow; 
}

h1 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5em;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}


.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em;
}

.items {
  position: absolute;
  background-color: -- clr-body-bg;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.item-index {
  flex: 1;
}

.item-name {
  flex: 4;
}

.item-year {
  flex: 1;
}

.overlay {
  position: absolute;
  bottom: -1200px;
  right: 0;
  width: 70%;
  height: 700px;
  padding: 2em;
  background: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  will-change: bottom;
  transform: translateZ(0) rotate(20deg);
  transform-origin: bottom center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.img-container {
  width: 100%;
  padding-bottom: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
}

.col:nth-child(1) {
  flex: 3;
}

.col:nth-child(2) {
  flex: 2;
}

#close-btn {
  cursor: pointer;
  opacity: 0.4;
}

.item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 4em 0;
}

.item-details p:nth-child(1) {
  flex: 3;
}

.item-details p:nth-child(2) {
  flex: 2;
}

@media (max-width: 900px) {
  .items {
    width: 100%;
    bottom: 8em;
  }

  .overlay {
    width: 100%;
    height: 100vh;
  }
}


iframe {
  height: 200px;
}

@media (max-device-width: 20px) {
  iframe {
    height:50%;
  }}


  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .color-picker > fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background: #fff;
    padding: 1rem 3rem;
    margin-inline: auto;
    border-radius: 0 0 1rem 1rem;
  }
  
  .color-picker input[type="radio"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
  }
  
  .color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
  }
  
  .color-picker input[type="radio"]#light {
    --radio-color: gray;
  }
  .color-picker input[type="radio"]#pink {
    --radio-color: pink;
  }
  .color-picker input[type="radio"]#blue {
    --radio-color: blue;
  }
  .color-picker input[type="radio"]#green {
    --radio-color: green;
  }
  .color-picker input[type="radio"]#dark {
    --radio-color: #232323;
  }
  
  .pink {
    --clr-body-bg: hsl(310 50% 90%);
    --clr-card-bg: hsl(310 50% 100%);
    --clr-text: hsl(310 50% 15%);
    --clr-heading: hsl(310 50% 25%);
  }
  
  .blue {
    --clr-body-bg: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --clr-text: hsl(209 50% 15%);
    --clr-heading: hsl(209 50% 25%);
  }


  :root:has(#pink:checked) {
    --clr-body-bg: hsl(310 50% 90%);
    --clr-card-bg: hsl(310 50% 100%);
    --clr-text: hsl(310 50% 15%);
    --clr-heading: hsl(310 50% 25%);
  }
  
  :root:has(#blue:checked) {
    --clr-body-bg: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --clr-text: hsl(209 50% 15%);
    --clr-heading: hsl(209 50% 25%);
  }
  